<!doctype html>
<html class="no-js h-100" lang="lv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <title>{% block title %}Cpanel{% endblock %}</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap cpanel dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" content="notranslate">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/cpanel/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/cpanel/styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/ckeditor-full/ckeditor.js"></script>

    <style>
        /* Скрываем контейнер с кнопкой "Start" */
        #startButtonContainer {
            display: none;
        }
    </style>

    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body class="h-100">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        {% include '/cpanel/_layouts/_sidebar.html.twig' %}
        <!-- End Main Sidebar -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            {% include '/cpanel/_layouts/_topbar.html.twig' %}
            {% if not app.user.isVerified %}
                <div class="alert alert-accent alert-dismissible fade show mb-0" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="fa fa-info mx-2"></i>
                    <strong>{% trans %}Please verify your email.{% endtrans %}</strong> {% trans %}Check your email for a verification link.{% endtrans %}
                    <form action="{{ path('app_resend_verification_email') }}" method="post">
                        <button type="submit" class="btn btn-sm text-white">{% trans %}Resend verification email{% endtrans %}</button>
                    </form>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </main>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="/cpanel/scripts/extras.1.1.0.min.js"></script>
<script src="/cpanel/scripts/shards-dashboards.1.1.0.min.js"></script>
<script src="/cpanel/scripts/app/app-blog-overview.1.1.0.js"></script>
</body>
</html>
