<form class="ml-2" method="post" action="{{ path('app_draft_delete', {'id': draft.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ draft.id) }}">
    <button class="btn btn-sm btn-outline-danger"><i class="material-icons">delete</i> {% trans %}Delete{% endtrans %}</button>
</form>
